body {
    background-color: beige;
}

a {
    color: black;
}

#title {
    color: rgba(150, 20, 14, 0.5);
    text-align: center;
}

#about {
    color: rgb(150, 20, 14);
    background-color: rgb(240, 230, 255);
    height: 25vh;
}

.skills {
    color: rgba(150, 20, 14, 0.8);
    background-color: rgba(0, 57, 220, 0.4);
    height: 25vh;
}

#projects {
    color: rgb(150, 20, 14);
    background-color: rgb(240, 230, 255);
    height: 70vh;
}

#education {
    color: rgba(150, 20, 14, 0.8);
    background-color: rgba(0, 57, 220, 0.4);
    height: 25vh;
}

#contact {
    color: #274f32;
    background-color: #adc4be;
    height: 25vh;
}

h2 {
    text-align: center;
}

.profile {
    height: 200px;
}