* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

a {
    color: black;
}

#title {
    color: rgba(150, 20, 14, 0.5);
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', monospace;
}

#about {
    color: rgb(150, 20, 14);
    /* background-color: rgb(240, 230, 255); */
    height: 470px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* position: relative;
    left: 50px; */
}

.skills {
    color: rgba(150, 20, 14, 0.8);
    background-color: rgba(0, 59, 220, 0.1);
    height: 470px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* position: relative;
    left: 700px;
    bottom: 530px; */
}

#projects {
    color: rgb(150, 20, 14);
    /* background-color: rgb(240, 230, 255); */
    height: 800px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative;
    bottom: 500px;
    left: 50px; */
}

#education {
    color: rgba(150, 20, 14, 0.8);
    background-color: rgba(0, 59, 220, 0.1);
    height: 50vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* position: relative;
    bottom: 500px;
    left: 50px; */
}

#contact {
    color: #274f32;
    /* background-color: #adc4be; */
    margin-top: 100px;
    height: 10vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative;
    bottom: 500px;
    left: 50px; */
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.picture {
    height: 120px;
    width: 120px;
    object-fit: cover;
    position: relative;
    left: 41%;
    border-radius: 50%;
}

/* .navbar {
    display: flex;
} */

.nav {
    display: flex;
    gap: 80px;
}

.section {
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
    padding: 20px 18px;
    margin: 20px 10px;
    border-radius: 12px;
}

.section p {
    font-family: 'Monaco', monospace;
    line-height: 2;
    font-size: 18px;
    font-weight: bold;
}

.section li {
    font-family: 'Monaco', monospace;
    line-height: 2;
    font-size: 18px;
    font-weight: bold;
}

strong {
    font-size: 20px;
    font-family: 'Monaco', monospace;
}

.contact a {
    text-decoration: none;
    margin-right: 450px;
    background-color: azure;
}

.contact a[href*=github] {
    margin-right: 12px;
}

.profile {
    display: flex;
    width: 1500px;
    justify-content: start;
    gap: 80px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.nav-item {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

.nav-item:hover {
    background-color: rgba(165, 42, 42, 0.331);
    width: 120px;
    text-align: center;
    border-radius: 12px;
}

.education {
    display: grid;
    grid-template-columns: 500px 500px 150px;
    grid-template-rows: 100px 100px;
    column-gap: 80px;
    row-gap: 50px;
    justify-content: end;
    align-items: center;
    justify-items: start;
}